{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}

<title>TaskMate - Register</title>
{% endblock  %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    
<h2> Register On TaskMate </h2>
    <form method="POST" class="mt-5 col-6">
        {% csrf_token %}
        {{ register_form|crispy }}
        <button class="btn btn-primary" type="submit">Register </button>
    </form>
    
    </div>
{% endblock  %}